.empty_blog_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .empty_text_container {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
  }
}
