@import "../../variables/variables";
.menu_wrapper {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8000;
  transition: all ease-in-out 0.2s;
  background: $bg;
  .menu_container {
    width: calc(100% - 100px);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .logo_container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .logo_image {
        width: 150px;
        margin-right: 30px;
      }
      .dia {
        margin-right: 10px;
        letter-spacing: 2px;
      }
      text-transform: uppercase;
      font-size: 10px;
    }

    .menu_drag {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .navigation_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          margin-left: 40px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 11px;
          cursor: pointer;
          &:hover {
            color: $color;
          }
        }
        .contact_button {
          height: 40px;
          background: $color;
          color: $textColorbutton;
          border-radius: $borderRadius;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px 30px;
          text-transform: capitalize;
        }
      }
      button {
        margin: 0;
        padding: 0 30px;
        height: 35px;
        margin-left: 20px;
      }
      .drag_box_container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        height: 40px;
        margin-left: 20px;
        padding: 0 20px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
        .name_menu {
          text-transform: uppercase;
          font-size: 12px;
        }
        .drag_box {
          width: 30px;
          height: 11px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          div {
            width: 50%;
            height: 1px;
            background: $bgb;
          }
        }
      }
    }
  }
}

.active {
  height: 70px;
}


@media (min-width: 0px) and (max-width: 600px) {

  .menu_wrapper {
    .menu_container {
      width: calc(100% - 10%);
      .menu_drag {
        .navigation_menu {
          display: none;
        }
        button {
          margin: 0;
          padding: 0 30px;
          height: 35px;
          margin-left: 20px;
        }
        .drag_box_container {
          padding: 0 0;
          background: rgba(255, 255, 255, 0);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
          .name_menu {
            display: none;
          }
        }
      }
    }
  }
}