
$bg:#F8F8F8;
$bgb:#000;
$bgc:#14181B;
$textColor: #000;
$textColorbutton: #fff;
$color:#000;
$box:#111;
$bannerHeight:85vh;
$borderColor:rgba(0, 0, 0, 0.2);
$borderColorActive:rgb(0, 0, 0);
$borderRadius:0;
$boxbg:#1A1F24;
$fontTitleSize:8rem;
$letterSpacing:-10px;
$lineHeight:8rem;
