@import "../../variables/variables";
.clients_wrapper {
  width: 100%;
  min-height: 70vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgb;
  position: relative;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    right: 0;
    bottom: 0;
    height: 110vh;
    width: 200.66667vh;
  }
}