.editor_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: auto;
  .editor_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    height: auto;
    text-align: left;
    padding: 130px 0 50px 0;

    input {
      height: 50px;
      width: 100%;
      margin-bottom: 20px;
      padding: 0 0 0 30px;
      &::placeholder{
        text-transform: capitalize;
      }
    }

    .w-md-editor {
      height: 50vh !important;
      width: 100%;
    }
  }
}
