.banner_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner_wrapper .scroll_tag {
  position: absolute;
  bottom: 80px;
  left: -50px;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  height: 50px;
  width: 220px;
  z-index: 200;
}
.banner_wrapper .scroll_tag span {
  height: 0.0520833333vh;
  width: 150px;
  background: #14181B;
  display: block;
  margin-left: 10px;
}
.banner_wrapper .banner_container {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2000;
}
.banner_wrapper .banner_container .left {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner_wrapper .banner_container .left .title_container {
  width: 100%;
  text-align: left;
}
.banner_wrapper .banner_container .left .title_container .title {
  font-size: 6vw;
  line-height: 8rem;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: -10px;
}
.banner_wrapper .banner_container .left .title_container .title span {
  font-weight: 400;
}
.banner_wrapper .banner_container .left .title_container .description {
  width: 70%;
}
.banner_wrapper .banner_container .left .title_container .button_cotainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  margin-top: 30px;
  width: 520px;
  display: none;
}
.banner_wrapper .banner_container .left .title_container .button_cotainer button {
  margin: 0;
}
.banner_wrapper .banner_container .left .title_container .button_cotainer button:first-child {
  margin-right: 5px;
}
.banner_wrapper .banner_container .left .title_container .button_cotainer button:last-child {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #14181B;
}
.banner_wrapper .banner_container .right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_wrapper .banner_container .right .boxes_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.banner_wrapper .banner_container .right .boxes_wrapper .box {
  width: 50%;
}
.banner_wrapper .banner_container .right .boxes_wrapper .box .number {
  font-weight: 600;
  font-size: 3rem;
}
@media (min-width: 0px) and (max-width: 600px) {
  .banner_wrapper {
    min-height: 80vh;
    height: auto;
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .banner_wrapper .scroll_tag {
    display: none;
  }
  .banner_wrapper .banner_container {
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .banner_wrapper .banner_container .left {
    width: 100%;
    height: auto;
    min-height: 40%;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .banner_wrapper .banner_container .left .title_container {
    width: 100%;
    text-align: left;
  }
  .banner_wrapper .banner_container .left .title_container .title {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 30px;
    letter-spacing: normal;
  }
  .banner_wrapper .banner_container .left .title_container .description {
    width: 100%;
  }
  .banner_wrapper .banner_container .right {
    width: 100%;
    height: 30%;
  }
  .banner_wrapper .banner_container .right .boxes_wrapper {
    flex-wrap: wrap;
    text-align: center;
  }
  .banner_wrapper .banner_container .right .boxes_wrapper .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.062745098);
  }
}/*# sourceMappingURL=style.css.map */